body {
  background-color: $backgrounColour;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

button {
  font-size: 9pt;
  font-weight: 600;
  padding: 0.75rem 1rem;
  background-color: $buttonColor;
  border: $buttonBorder;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: $buttonColorHover;
    color: $uiWhite;
    transition: 0.7s;
  }
}
  