$uiWhite: #ffffff;
$uiBlack: #000000;
$backgrounColour: #dddddd;
$linkColour: #61dafb;

$buttonBorder: 1px solid #aaaaaa;
$buttonColor: #dddddd;
$buttonColorHover: #0C8400;

$borderColor: #aaaaaa;

$borderWidth: pxToRem(1px);
$borderRadius: 2px;

$border: $borderWidth solid $borderColor;