$uiWhite: #ffffff;
$backgrounColour: #dddddd;
$linkColour: #61dafb;

$buttonBorder: 1px solid #aaaaaa;
$buttonColor: #dddddd;
$buttonColorHover: rgb(12, 132, 0);

$borderColor: #aaaaaa;

$borderWidth: pxToRem(1px);
$borderRadius: 2px;

$border: $borderWidth solid $borderColor;