.main-layout {
  width: 40vw;
  margin: auto;
  font-size: 14px;

  @media (min-width: 1080px) and (max-width: 2150px) {  
    width: 75vw;
  }

  @media (max-width: 1080px) {  
    width: 98vw;
  }

  .content {
    margin: 0 1rem;
  }
}

.container {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
  }
  .container > div {
    height:100px;
    flex:400px;
  }