h2 {
  margin: 2rem 0 1rem 0;
}

.addon-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  gap: 1rem;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}
  