header {
    background-color: $uiWhite;
    margin: 0.5rem;
    padding: 1rem 1.25rem;
    border: $border;
    border-radius: $borderRadius;
    
    div.header {
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
    }
}